AplicacaoXamarimForms/AplicacaoXamarimForms/AplicacaoXamarimForms.Android/obj/Debug/130/android/bin/classes/mono/androidx/core/view/accessibility
AplicacaoXamarimForms/AplicacaoXamarimForms/AplicacaoXamarimForms.Android/obj/Release
AplicacaoXamarimForms/AplicacaoXamarimForms/AplicacaoXamarimForms.Android/obj/Debug
AplicacaoXamarimForms/AplicacaoXamarimForms/AplicacaoXamarimForms.Android/obj/Release1
AplicacaoXamarimForms/AplicacaoXamarimForms/AplicacaoXamarimForms.Android/obj/Debug1
